body {
    background-color: black;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    overflow: hidden;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.left {
    height: 100%;
    width: 40%;
}

#bgpic {
    height: 120%;
}

.right {
    background-color: aliceblue;
    display: flex;

    height: 100%;
    width: 100%;

    padding: 24px;
}