body {
    background-image: url(./bg-pic.jpg);
    background-size: 70%;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    overflow: hidden;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.left {
    height: 100vh;
    width: 50vw;
}

.left-flex {
    margin-top: 25vh;
    padding: 2vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
}

.left-flex > img {
    height: 10vh;
    margin-top: 1vh;
}

.left-flex > span {
    width: fit-content;
    color: white;
    font-size: 82px;
    text-align: center;
}

.right {
    background-color: aliceblue;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10vh;

    padding: 3vw;
    height: 100%;
    width: 100%;
}

.form {
    max-width: 50vw;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}